<a href="https://colab.research.google.com/github/EmrullahAydogan/GoogleColab/blob/main/object_oriented_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
listed = [1, 2, 3, 4, 5]
listed

[1, 2, 3, 4, 5]

In [2]:
text = "Hello I am an object"

In [3]:
def summation(a, b):
  return a + b

print(type(summation))

<class 'function'>

In [4]:
class Person():
  name = "Joey"
  surname = "Aniston"
  age = 23
  gender = "Male"

In [5]:
person = Person()

In [6]:
print(person.name)
print(person.surname)
print(person.age)
print(person.gender)

Joey
Aniston
23
Male

In [7]:
class Person():
  def __init__(self, name, surname, age, gender):
    self.name = name
    self.surname = surname
    self.age = age
    self.gender = gender

In [8]:
person2 = Person("Joey", "Aniston", 23, "male")

In [9]:
print(person2.name)
print(person2.surname)
print(person2.age)
print(person2.gender)

Joey
Aniston
23
male

In [12]:
type(person2) # list1 is actually a list object.

__main__.Person

In [13]:
def summation(a, b):
  return a + b

type(summation) # the function is also a object in programming world

function

In [14]:
class MyCompany():
  company_name = "Dark Blue"
  foundation_year = 2020
  founder_name = "John Doe"
  number_of_department = 5
  sector = "Healthcare"

In [15]:
myObject = MyCompany()

In [16]:
print(myObject.company_name)
print(myObject.foundation_year)
print(myObject.founder_name)
print(myObject.number_of_department)

Dark Blue
2020
John Doe
5

In [19]:
class MyCompany():
  def __init__(self, company_name, foundation_year, founder_name, number_of_department, sector):
    self.company_name = company_name
    self.foundation_year = foundation_year
    self.founder_name = founder_name
    self.number_of_department = number_of_department
    self.sector = sector

In [20]:
mycompany = MyCompany("Dark Blue", 2020, "John Doe", 5, "Healthcare")
print(mycompany.company_name)
print(mycompany.foundation_year)
print(mycompany.founder_name)
print(mycompany.number_of_department)
print(mycompany.sector)

Dark Blue
2020
John Doe
5
Healthcare

In [21]:
mycompany = MyCompany("Red White", 2002, "Michael Jackson ", 4, "Banking")
print(mycompany.company_name)
print(mycompany.foundation_year)
print(mycompany.founder_name)
print(mycompany.number_of_department)
print(mycompany.sector)

Red White
2002
Michael Jackson
4
Banking

In [23]:
class Car():
  brand = "Mercedes"
  color = "Blue"
  production_year = 2020
  steamroller = 4

In [24]:
class Car():
  brand = "Audi"
  color = "Blue"
  production_year = 2020
  steamroller = 4

In [27]:
dir(Car)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'brand',
 'color',
 'production_year',
 'steamroller']

In [28]:
class Car():
  def __init__(self):
    print("the function is working...")

In [29]:
car3 = Car() # as you see, the function is working automatically

the function is working...

In [35]:
class Car():
  def __init__(self, model, color, hp, steamroller):
    self.model = model
    self.color = color
    self.hp = hp
    self.steamroller = steamroller

In [36]:
car1 = Car("Audi", "Green", 180, 4)

In [37]:
print(car1.model)
print(car1.color)
print(car1.hp)
print(car1.steamroller)

Audi
Green
180
4

In [38]:
car2 = Car("Opel", "Red", 120, 4)

In [39]:
print(car2.model)
print(car2.color)
print(car2.hp)
print(car2.steamroller)

Opel
Red
120
4

# Methodlar

Bu classın sahibi olduğu özellikleri oluşturmak istiyoruz.

In [40]:
class Employee():
  def __init__(self, name, surname, age, salary, title):
    self.name = name
    self.surname = surname
    self.age = age
    self.salary = salary
    self.title = title

  def get_information(self):
    print("""
    Name: {}
    Surname: {}
    Age: {}
    Salary: {}
    Title: {}
    """.format(self.name, self.surname, self.age, self.salary, self.title))

  def change_title(self, title):
    self.title = title
    print("The new title is {}".format(self.title))

  def increase_salary(self, increase_rate):
    self.salary += self.salary * increase_rate
    print("The new salary is {}".format(self.salary))

In [41]:
employee = Employee('John', 'Doe', 27, 3000, 'Finance Spealist')
employee.get_information()

    Name: John
    Surname: Doe
    Age: 27
    Salary: 3000
    Title: Finance Spealist

In [42]:
employee.change_title('Finance Expert')
employee.increase_salary(0.4)
employee.get_information()

The new title is Finance Expert
The new salary is 4200.0

    Name: John
    Surname: Doe
    Age: 27
    Salary: 4200.0
    Title: Finance Expert

# Inheritance

In [43]:
class Manager(Employee):
  pass

In [44]:
manager = Manager("Jack","Denver", 34, 5000, 'CEO')
manager.get_information()

    Name: Jack
    Surname: Denver
    Age: 34
    Salary: 5000
    Title: CEO

In [45]:
dir(manager)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'change_title',
 'get_information',
 'increase_salary',
 'name',
 'salary',
 'surname',
 'title']

In [46]:
class Manager(Employee):
  def increase_salary_for_manager(self, ratio):
    self.salary += self.salary * ratio

In [47]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead")
manager.increase_salary_for_manager(0.3)
manager.get_information()

    Name: Sacha
    Surname: Kearney
    Age: 34
    Salary: 9100.0
    Title: Finance Team Lead

In [50]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    self.name = name
    self.surname = surname
    self.age = age
    self.title = title
    self.salary = salary
    self.languages = languages

In [51]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    self.name = name
    self.surname = surname
    self.age = age
    self.title = title
    self.salary = salary
    self.languages = languages

  def get_information(self):
    print("""
    Name: {}
    Surname: {}
    Age: {}
    Salary: {}
    Title: {}
    Languages: {}
    """.format(self.name, self.surname, self.age, self.salary, self.title, self.languages))

In [53]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead", "English")
manager.get_information()

    Name: Sacha
    Surname: Kearney
    Age: 34
    Salary: Finance Team Lead
    Title: 7000
    Languages: English

In [55]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead", ['English','Portuguese', 'Spanish'])
manager.get_information()

    Name: Sacha
    Surname: Kearney
    Age: 34
    Salary: Finance Team Lead
    Title: 7000
    Languages: ['English', 'Portuguese', 'Spanish']

# "Super"

In [69]:
class Employee():
  def __init__(self, name, surname, age, salary, title):
    self.name = name
    self.surname = surname
    self.age = age
    self.salary = salary
    self.title = title

In [81]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    self.name = name
    self.surname = surname
    self.age = age
    self.title = title
    self.salary = salary
    self.languages = languages

In [82]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    super().__init__(name, surname, age, title, salary)
    self.languages = languages

  def get_information(self):
    print("""
    Name: {}
    Surname: {}
    Age: {}
    Salary: {}
    Title: {}
    Languages: {}
    """.format(self.name, self.surname, self.age, self.salary, self.title, self.languages))

In [83]:
manager = Manager("Sacha", "Kearney", 34, "Finance Team Lead", 7000 , ['English','Portuguese', 'Spanish'])
manager.get_information()

    Name: Sacha
    Surname: Kearney
    Age: 34
    Salary: Finance Team Lead
    Title: 7000
    Languages: ['English', 'Portuguese', 'Spanish']

# Special Methods
Special methods are a set of predefined methods in Python that you can use to enhance your classes. Because they begin and conclude with double underscores, such as __init__ or __str__, they are easily identifiable.

Pythoneer used the term "dunder methods" as a short form of "double under," as saying under-under-method-under-under grew monotonous.



In Python, these "dunders" or "special methods" are sometimes known as "magic methods." However, adopting this phrase can make things appear more sophisticated than they are—at the end of the day, they aren't "magical." These methods should be treated as if they were a standard language feature.

What kind of special methods we have? For Example;
* __init__
* __str__
* __len__

In [84]:
class Animal():
  def __init__(self, name, age, number_of_feet):
    self.name = name
    self.age = age
    self.number_of_feet = number_of_feet

  def __str__(self):
    return "Name: {}\nAge: {}\nNumber of Feet: {}".format(self.name, self.age, self.number_of_feet)

  def __len__(self):
    return len(self.name)

In [85]:
lion = Animal('Lion', 4, 4)
print(lion)

Name: Lion
Age: 4
Number of Feet: 4

In [87]:
len(lion)

4

In [88]:
listed = [1, 2, 3, 4, 5]

In [89]:
str

str